output.log
.pycache
*.log
npm
node_modules
package-lock.json
.vscode/launch.json
Labs/lab7/samplefile.txt
uc_homepage_cleaned.html
uc_homepage.html
Labs/lab11/__pycache__/routes.cpython-36.pyc
projectr/
project3/WebEx_Meeting_Report.xlsx
project3/this-file-is-fake-data.csv
project3/this-file-is-fake-data.xlsx
