output.log
.pycache
*.log
npm
node_modules
package-lock.json
.vscode/launch.json
Labs/lab7/samplefile.txt
uc_homepage_cleaned.html
uc_homepage.html
project3/
freakingCisco/WebEx_Meeting_Report.xlsx
freakingCisco/split_00.xlsx
freakingCisco/split_01.xlsx
freakingCisco/split_02.xlsx
freakingCisco/split_03.xlsx
freakingCisco/split_04.xlsx
freakingCisco/split_05.xlsx
freakingCisco/split_06.xlsx
freakingCisco/split_07.xlsx
freakingCisco/requirements.txt
freakingCisco/splitTheGiantExcel.py
